
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}/*-----Botón volver-----*/
.btn-volver {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

    border: 2px solid transparent; /* ya tiene borde, pero invisible */
    border-radius: 25px;

    transition: border-color 0.3s; 
    cursor: pointer;
}
.btn-volver:hover {
    border-color: white;
}
.btn-volver h6 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.btn-volver i {
    color: white;
}
/*-----Left-panel-----*/
 .left-panel {
    background: linear-gradient(to right, #2ecc71, #1c9cb1);
    background-color: #2ecc71;
    color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
 .left-panel h1 {
    margin-bottom: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    transition: 0.3s all;
}
/*-----Login-form-----*/
.form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
}
.form input::placeholder {
   color: rgb(179, 179, 179); 
}
.form input {
    padding: 1em;
    border-radius: 25px;
    border: none;
    text-align: center;
    outline: none;
}
/*-----Buttons-----*/
.form .buttons {
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}
.form button {
    padding: 0.8em 2em;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.form .btn-send {
    background-color: white;
    color: #2ecc71;
    transition: all 0.3s;
}
.form .btn-send:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px #16f4ff; 
}
.form input:focus{
    transition: all 0.3s;
    border-color: aqua;
    box-shadow: 0 2px 0 2px aqua;
}
/*Código de verificación*/
.codigo{
    padding-top: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
}
.codigo input{
    padding: 1em;
    border-radius: 25px;
    border: none;
    text-align: center;
    outline: none;

    width: 300px;
}
.codigo input::placeholder{
    color: rgb(179, 179, 179);
}
.codigo input:focus{
    transition: all 0.3s;
    border-color: aqua;
    box-shadow: 0 2px 0 2px aqua; 
}
/*-----Botón código-----*/
.code-button{
    padding-top: 1em;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}
.btn-code{
    padding: 0.8em 2em;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: white;
    color: #2ecc71;
    transition: all 0.3s;
}
.btn-code:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px #16f4ff; 
}
/*-----Righ-panel/image-----*/
.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden 
}
.image-wrapper {
  position: relative;
  display: inline-block; 
}
#image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
.image-wrapper::before {
  content: '';
  position: absolute;
  inset: 0; /* ocupa todo el espacio de la imagen */
  background: rgba(255, 255, 255, 0.8); 
  z-index: 1;
}
/* Texto encima del overlay */
.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* centrado */
  font-size: 1.2rem;
  z-index: 2;
  display: flex;
  flex-direction: column; 
  gap: 35px; /*Espacio entre pasos*/
}
.step {
  display: flex;
  align-items: center; 
  gap: 20px; /*Espacio entre texto verde y texto negro*/
  transition: all 0.3s;
}
.step:hover{
    transform: scale(1.1);
}
.step h4 {
  font-size: 35px;
  color: #2ecc71;
  margin: 0;
  white-space: nowrap; 
}
.step p {
  color: #202028;
  margin: 0;
  font-size: 20px;
}
