body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
/*-----Left-panel-----*/
 .left-panel {
    background: linear-gradient(to right, #2ecc71, #1c9cb1);
    background-color: #2ecc71;
    color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
 .left-panel h1 {
    margin-bottom: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    transition: 0.3s all;
}
/*-----Login-form-----*/
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
 }
.login-form input::placeholder {
   color: rgb(179, 179, 179); 
 }
 .login-form input {
    padding: 1em;
    border-radius: 25px;
    border: none;
    text-align: center;
    outline: none;
}
/*-----Buttons-----*/
.login-form .buttons {
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
}
.login-form button {
    padding: 0.8em 2em;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.login-form .btn-register {
    background-color: white;
    color: #2ecc71;
    transition: all 0.3s;
}
.login-form .btn-register:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px aqua; 
}
 .login-form .btn-login {
    background-color: white;
    color: #2ecc71;
    transition: all 0.3s;
}
.login-form .btn-login:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px #16f4ff; 
}
.login-form p {
    font-size: 0.9em;
    text-align: center;
    margin-top: 1em;
}
.login-form a {
    color: #223b39;
    text-decoration: none;
    transition: all 0.17s;
}
.login-form a:hover{
    color: aqua;
}
.login-form input:focus{
    transition: all 0.3s;
    border-color: aqua;
    box-shadow: 0 2px 0 2px aqua;
    /*transform: scale(1.05);*/
}
/*-----Righ-panel/image-----*/
.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; /* Color de fondo para la imagen */
    overflow: hidden 
}
.right-panel img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.right-panel img:hover {
  animation: zoom 4s infinite ease-in-out;
}
@keyframes zoom {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
/*.right-panel img {
    width: 50%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}*/